.find-page {
  /* background-color: orange; */
  display: flex;
  flex-direction: column;
}

.searchbar {
  background-color: var(--accent-gray);
  margin: var(--gap-md) var(--gap-sm);
  padding: 0.7rem;
  border-radius: 10rem;
}

.searchbar input {
  padding: 0 8px;
  font-size: var(--font-size-lg);
}

.suggested-reels {
  /* flex: 1; */
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.reel {
  height: 12rem;
  position: relative;
  border: 1px solid var(--accent-gray);
}

.reel i {
  margin-right: 3px;
}

.reel-views {
  position: absolute;
  bottom: var(--gap-sm);
  left: var(--gap-sm);
  font-size: var(--font-size-md);
  color: var(--txt-light-700);
  /* background-color: red; */
}
