/* HOME NAVBAR */
.homeNavbar {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  padding: var(--gap-sm) var(--gap-sm);
}

.insta-word-mark {
  height: 3rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.insta-word-mark img {
  height: 8rem;
  width: auto;
}

.insta-word-mark .icon {
  height: 1rem;
}

/* STORY BOX */
.storyBox {
  padding: 0 var(--gap-sm);
  display: flex;
  gap: var(--gap-sm);
  overflow-x: auto;
}

.story-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-dp {
  width: 5rem;
  aspect-ratio: 1;
  padding: 3px;
  border-radius: 50%;

  background-color: var(--accent-gray);

  display: flex;
  align-items: center;
  justify-content: center;
}

.hasStory {
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
}

.your-dp {
  width: 5rem;
  aspect-ratio: 1;
  padding: 3px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.story-dp img,
.your-dp img,
.name-dp {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background: black;
  padding: 3px;
}

.profile-name {
  white-space: nowrap;
  color: #9da2ad;
  width: 5rem;
  font-size: var(--font-size-sm);
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin-top: 3px;
}

.no-dim {
  color: var(--txt-light-700);
}

.your-story {
  position: relative;
  margin-right: 0.3rem;
}

.add-story-icon {
  height: 1.4rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 1.4rem;
  background-color: var(--accent-white);
  right: 2px;
  color: var(--primary-color);
  font-size: 1rem;
  box-shadow: 0 0 2px var(--primary-color);
}

/* POST FEEDS */
.post-feed {
  /* background-color: chocolate; */
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  padding: 0.5rem 0;
}

.post-top {
  /* background-color: red; */
  display: flex;
  /* padding: 0 var(--gap-sm) 0.6rem var(--gap-sm); */
  align-items: center;
  padding: var(--gap-sm);
  gap: 0.5rem;
}

.post-top .pic {
  height: 2.5rem;
  aspect-ratio: 1;
  /* background-color: aqua; */
  border: 2px solid var(--accent-gray);
  border-radius: 50%;
}

.post-top .info {
  /* background-color: #d62976; */
  flex: 1;
}

.post-top button {
  /* background-color: tomato; */
  font-size: var(--font-size-md);
  color: var(--txt-light-700);
  border: 1px solid var(--txt-light-700);
  padding: 0.2rem 0.6rem;
  border-radius: 0.3rem;
}

.post-top .icon {
  /* background-color: orange; */
  height: 20px;
}

.info .username {
  font-size: var(--font-size-md);
  color: var(--txt-light-700);
}

.info .audio-name {
  color: var(--txt-light-600);
  display: flex;
  align-items: center;
  font-size: var(--font-size-sm);
}

.info .audio-name .icon {
  height: 15px;
  margin-right: 2px;
}

.post-content {
  min-height: 10vh;
  max-height: 85vh;
}

.post-bottom {
  /* background-color: orange; */
  width: 100%;
  display: flex;
  padding: var(--gap-sm);
  flex-direction: column;
  /* height: 2rem; */
}

.post-bottom .engagement {
  /* background-color: violet; */
  width: 100%;
  display: flex;
  gap: var(--gap-md);
  align-items: center;
}

.engagement li {
  /* border: 2px solid white; */
  display: flex;
  gap: 2px;
  align-items: center;
}

.engagement li i {
  font-size: 1.5rem;
}

.bookmark {
  margin-left: auto;
}

.content-txt {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.time-posted {
  padding-top: 0.4rem;
  font-size: var(--font-size-sm);
  color: var(--txt-light-500);
}
