/* HOME NAVBAR */
.homeNavbar {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  padding: var(--gap-sm) var(--gap-sm);
}

.insta-word-mark {
  height: 3rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.insta-word-mark img {
  height: 8rem;
  width: auto;
}

.insta-word-mark .icon {
  height: 1rem;
}

/* STORY BOX */
.storyBox {
  padding: 0 var(--gap-md);
  display: flex;
  gap: var(--gap-sm);
  overflow-x: auto;
}

.story-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-dp {
  width: 5rem;
  aspect-ratio: 1;
  padding: 3px;
  border-radius: 50%;

  background-color: #2b2f36;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hasStory {
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
}

.your-dp {
  width: 5rem;
  aspect-ratio: 1;
  padding: 3px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.story-dp img,
.your-dp img,
.name-dp {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background: black;
  padding: 3px;
}

.profile-name {
  white-space: nowrap;
  color: var(--txt-light-700);
  width: 5rem;
  font-size: var(--font-size-sm);
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin-top: 3px;
}

.your-story {
  position: relative;
  margin-right: 0.3rem;
}

.add-story-icon {
  height: 1.4rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 1.4rem;
  background-color: var(--accent-white);
  right: 2px;
  color: var(--primary-color);
  font-size: 1rem;
  box-shadow: 0 0 2px var(--primary-color);
}
